body {
  min-height: 500vh;
  font-family:sans-serif;
}

/* Our animation, let's call it "twirl"! */
@keyframes twirl {
  to {
    transform: translatex(500px)rotate(360deg);
  }
}

/* The little guy! */
svg {
  position: fixed;
  top: 50%;
  left: 10%;
  margin-top: -50px;
  margin-left: -50px;
  
  /* "stick" the animation called "twirl" on 
  the SVG object. You can play around with 
  the "1s" property to make the animation 
  slower or faster in seconds!
  */
  animation: twirl 1s ease-in-out infinite;
}

/* document wide animation trigger */
:root * {
  animation-play-state: paused;
  animation-delay: calc(var(--scrollbar) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;  
}
